.importador img.cargador {
	display       : none;
	vertical-align: middle;
	height        : 22px;
	margin-right  : 13px;
}

.importador.loading img.cargador {
	display: initial;
}

.importador .atencion {
	color      : red;
	font-weight: bold;
}

.wrap.importador.exportador,
.wrap.importador.importador {
	max-width: 700px;
}

.wrap.importador.importador .right {
	text-align: right;
	margin-top: 10px;
}

.importador.loading .finished {
	display: none;
}

.importador ul.actions {
	list-style : disc;
	margin-left: 15px;
}

.importador .actions ul {
	padding-left: 35px;
	list-style  : circle;
}

.importador .actions ul li {
	margin-bottom: 0;
}
