<div class="wrap importador loading">
	<h1>{{ texto.import_button }}</h1>

	<p>{{ __("This process imports a new record for each row of the CSV file and uses the data in the first row to determine the field corresponding to each column. Remember to add at least the <b>post_title</b> column.", 'importer') }}</p>
    <p>{{ __("Please select the file with the information and click on <b>%s</b>. The system will inform each process that is executed during the import and in the end will expose information with the imported elements.", 'importer')|format( texto.import_button ) }}</p>
	<p>{{ __("If the import time of a page takes longer than expected, try again until you get the final result.", 'importer') }}</p>
	<p>{{ __("For reference you can export a CSV file with all %s using <a href='%s'>this link</a>.", 'importer')|format( texto.plural, enlace_exportar ) }}</p>
    {% if mensaje %}<p class="atencion">{{ mensaje }}</p>{% endif %}
    <form action="admin.php?import={{ action }}" method="post" enctype="multipart/form-data">
        {{ texto.import_file }}: <input type="file" name="import_file" id="import_file">
        <div class='right'><input type="submit" class="button action" value="{{ texto.import_button }}" name="submit"><div>
    </form>

</div>
