<div class="wrap importador loading">
	<h1><img class='cargador' src='{{ spinner }}'> {{ __('Import Movies', 'importer' ) }}</h1>

	<ul class='actions'>
	</ul>

	<hr>

	<ul class='totales finished'>
	    <li>{{ __('New movies:', 'importer' ) }} <span id='nuevas'>0</span></li>
		<li>{{ __('Updated movies:', 'importer' ) }} <span id='modificadas'>0</span></li>
		<li>{{ __('New terms:', 'importer' ) }} <span id='terminos_nuevos'>0</span></p></li>
	</ul>
	<p class='finished'>{{ __("For reference you can export a CSV file with all movies using <a href='%s'>this link</a>.", 'importer')|format( enlace_exportar ) }}</p>
	<script>
		jQuery(document).ready(function($) {
			importer( 'importer_peliculas', 1, '{{ filename }}' );
		});
	</script>
</div>
