<div class="inline-extra-col">
	<div class="inline-edit-col">
		<label>
			<span class='title'>{{ element.label }}</span>
			{% if element.type == 'checkbox' %}
				<select name='{{ element.name }}'>
					<option value='-1'>{{ __( '&mdash; No Change &mdash;' ) }}</option>
					<option value='1'>{{ __('Yes') }}</option>
					<option value='0'>{{ __('No') }}</option>
				</select>
			{% else %}
				<input type='text' name='{{ element.name }}'>
			{% endif %}
			{% if element.help | length > 0 %}
				<span class="help">{{ element.help }}</span>{% endif %}
		</label>
	</div>
</div>
