<div class="inline-extra-col">
	<div class="inline-edit-col">
		<label>
			<span class='title'>{{ element.label }}</span>
			{% if element.type == 'checkbox' %}
				<input type='checkbox' name='{{ element.name }}'/>
			{% else %}
				<input type='text' name='{{ element.name }}'/>
			{% endif %}
			{% if element.help | length > 0 %}
				<span class="help">{{ element.help }}</span>{% endif %}
		</label>
	</div>
</div>
